<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Containerized Flask App</title>
    <style>
      body {
        font-family: "Helvetica Neue", Roboto, system-ui;
      }
    </style>
</head>
<body>
  <h1>Containerized Flask App</h1>
  <p><b>Counter:</b> {{ counter }}</p>
  <a href="{{ url_for('incr_handle') }}">Increment Counter</a>
  <p>Made with ❤️ by Sakthi Santhosh. Copyright @sakthisanthosh010303, all rights reserved.</p>
</body>
</html>
